@import './base.css';
:root {
  --first-color: #9C60E9;
  --text-white: #fff;
  --link-hover-color: #89bdfc;
  --text-white-low-opacity:#fffb;
}
@font-face {
  font-family: iransans;
  src: url(fonts/iransans.ttf) format('truetype');
}
@font-face {
  font-family: vazirmatn;
  src: url(fonts/woff2/Vazirmatn.woff2) format('woff2');
}